<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websys - Favor se Identificar</title>
</head>
<body bgcolor="#384850">
<div align="center">
    <h1 style="font-size: 72px;color: white; font-family: Arial;alignment: center">Websys<br>...<br></h1>
    <form method="post">
        <input name="login[user]" style="font-size: 48px"><br><br>
        <input type="password" name="login[pass]" style="font-size: 48px"><br><br>
        <input type="submit" value="Entrar" style="font-size: 48px">
    </form>
</div>
</body>
</html>